
.form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #CFDDCF;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  letter-spacing: 10px;
  color: #363E3A;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #363E3A;
}

.form-group input,
.form-group textarea,
.form-group select{
  width: 90%;
  padding: 10px;
  border: none;
  background-color: #AFB8B3;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #2C6B47;
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

.form-group input[type="file"] {
  border: none;
}

button {
  width: 48%;
  padding: 10px;
  background-color: #2C6B47;
  color: #EEF1E0;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

button:hover {
  background-color: #A8D5BA;
  color: #363E3A;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

textarea::placeholder, input::placeholder {
  font-family: 'Montserrat', sans-serif;
}