body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #EEF1E0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #A8D5BA;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 75px;
}

.site-name {
    font-size: 5rem;
    font-weight: bold;
    color: #2C6B47;
    letter-spacing: 7px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #A8D5BA;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar .nav-item {
    list-style: none;
    margin: 5px 15px;
}

.navbar .nav-item a {
    text-decoration: none;
    font-size: 1rem;
    color: #204e34;
    padding: 8px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.navbar .nav-item a:hover {
    background-color: #9ad2b1;
}

footer {
    background-color: #A8D5BA;
    padding: 20px;
    text-align: center;
    color: #2C6B47;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #2C6B47;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/* Form Container */
.form-container {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

input[type="text"], input[type="datetime-local"], textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2C6B47;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9ad2b1;
}

.time-slot-container {
    margin-bottom: 20px;
}

.time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.time-slot input[type="time"] {
    width: 45%;
}

.remove-time-slot {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.add-time-slot {
    cursor: pointer;
    color: #2C6B47;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}